body{
    background-color: rgb(220, 231, 240);
    font-size: 25px;
    margin: 50px 0px 100px 20px;
}


img{
height: 300px;
width: 300px;
}
p,
ol,
ul {
  width: 600px;
}
h1,
h2,
h3,
 .section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn { 
  font-size: 20px;
  width: 120px;
  height: 30px;
  display: block;
  text-decoration: none;
  color: black;
  background-color: chartreuse;
  border: black 1px solid;
  border-radius: 5px;
  text-align: center;
  padding-top: 6px;
}